body {
  background:url(assets/pexels-cottonbro-5054213.jpg) no-repeat center center fixed; 
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

.signup-box {
  width: 350px;
  height: 600px;
  margin: auto;
  color: white;
  backdrop-filter: blur(20px);
  border-radius: 3px;
}

.login-box {
  margin-left: 70%;
  width: 360px;
  height: 400px;
  /*margin: auto;*/
  border-radius: 3px;
  color: black;
  backdrop-filter: blur(20px);
  margin-top: 5%;
}


h4 {
  text-align: center;
}

form {
  width: 300px;
  margin-left: 20px;
}

form label {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}

form input {
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;

}
button {
  width: 300px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: #006AFF;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
p {
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
}
.para-2 {
  text-align: center;
  color: white;
  font-size: 15px;
  margin-top: 10px;
  margin-right: 58%;
}
  a {
  color: white;
  margin-top: 10px;
  margin-left: 20px;
}

